 <!--Agreagar las experiencias en columnas de Bootstrap-->
<div style="margin-top:-105px">
    <!--Superpone las dos columnas Back y front sobre la franja azul-->
    <div class="row justify-content-md-center text-center">
        <!--Define el relieve para los cuadros de back-->
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray ">
            <i class="bi bi-database-check"></i>
            <h3>Back - End</h3>
            <p>
                Trabajé como Back en Microsoft Inc. Company
            </p>

            <p class="text-primary cabecera">
                Stack
            </p>
            <p> Mongo, Firebase, SQL Server,Oracle.</p>
            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>Web API</li>
                <li>ASP .NET Core</li>
                <li>Entity Frameworrk Core</li>
                <li>Java Web</li>
                <li>Pyton</li>
                <li>C#</li>
            </ul>

        </div>

        <!--Define el relieve o apariencia para los cuadros de front-->
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0px; box-shadow:0 5px 5px 0 gray ">
            <i class="bi bi-file-earmark-code-fill"></i>
            <h3>Front-End</h3>
            <p>Desarrollo Front Ends Robustos y Escalables para cualquier empresa</p>
            <p class="text-primary cabecera">
                Stack
            </p>

            <p>View, JQuery, Angular</p>
            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>Wactail</li>
                <li>React</li>
                <li>Angular</li>
                <li>Ember</li>
                <li>Qooxdoo</li>
                <li>Dojo</li>
            </ul>

        </div>
    </div>

</div>