
<div class="text-center">
    <h1 class="display-4">Soy Juan Esteban Ortiz J.</h1>
    <h2> Técnico en Desarrollo de Software y Tecnologo en ADSO.</h2>
    <img id="foto" src="~/imagenes/img2.jpg" alt="miFoto" />
</div>

@* <div class="text-center">

    <img id="imagen-net" src="~/imagenes/" alt="Logo saberes"/>


</div> *@

<div class="row justify-content-center text-center bg-success">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio de servicios de valor agregado</h1>
        <p>
            Apasionado por la innovación y la eficiencia en el desarrollo de soluciones. Busco constantemente aprender y 
            aplicar las últimas tecnologías para ofrecer resultados de vanguardia en cada proyecto.
        </p>

    </div>

</div>